.search-card {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.mat-card {
  max-width: 500px;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}
