<div class="desktop-nav">
  <mat-toolbar color="primary" fxLayout="row">
    <a routerLink="/home">Games Platform</a>
    <div class="right-nav">
      <ng-container *ngIf="router.url.includes('/login') === false">
        <button mat-button>
          <span>Hi,</span>
          <span style="text-transform: capitalize">
            {{ username$ | async }}
          </span>
        </button>
        <button
          mat-button
          routerLink="/home"
          routerLinkActive="router-link-active"
        >
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button
          mat-button
          routerLink="/collection"
          routerLinkActive="router-link-active"
          [matBadge]="(collection$ | async)?.length || 0"
          matBadgeColor="accent"
        >
          <mat-icon>games</mat-icon>
          Collection
        </button>
        <button (click)="logout()" mat-button>Logout</button>
      </ng-container>
    </div>
  </mat-toolbar>
</div>
<!-- Mobile Menu-->
<div class="mobile-nav">
  <mat-toolbar color="primary" fxLayout="row">
    <div>
      <a routerLink="/">Games Platform</a>
    </div>

    <ng-container *ngIf="router.url.includes('/login') === false">
      <span class="fill-remaining-space">
        <button
          style="float: right"
          #r="matMenuTrigger"
          mat-icon-button
          [matMenuTriggerFor]="menu"
        >
          <mat-icon (mouseover)="open(r)">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-button>
            <span>Hi,</span>
            <span style="text-transform: capitalize">
              {{ username$ | async }}
            </span>
          </button>
          <button mat-menu-item routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button routerLink="/collection" mat-menu-item>
            <mat-icon>games</mat-icon>
            <span>Collection</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </span>
    </ng-container>
  </mat-toolbar>
</div>
