<ng-container *ngIf="gameDetails$ | async as gameDetails; else noGameDetails">
  <h2 mat-dialog-title>{{ gameDetails.title }}</h2>
  <div class="main-dialog">
    <div class="left">
      <h3>Release Date: {{ gameDetails.releaseDate | date }}</h3>

      <ng-container *ngIf="gameDetails.imageUrl; else placeholder">
        <img
          mat-card-image
          [src]="gameDetails.imageUrl"
          [alt]="gameDetails.title"
        />
      </ng-container>
      <ng-template #placeholder>
        <img
          mat-card-image
          src="https://via.placeholder.com/300"
          alt="placeholder"
        />
      </ng-template>
    </div>

    <div class="right" style="margin-top: 20px">
      <div style="margin-top: 30px">
        <li>
          <em>Genres</em>:
          <span *ngFor="let genres of gameDetails.genres">
            {{ genres }}
          </span>
        </li>

        <li>
          <em>Publishers</em>:
          <span *ngFor="let pub of gameDetails.publishers">
            {{ pub }}
          </span>
        </li>
        <li>
          <em> Platform </em>:
          <span>{{ gameDetails.platform?.name }} </span>
        </li>
        <div class="overview">
          <p>
            {{ gameDetails.overview }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button
      color="primary"
      mat-raised-button
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Close
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</ng-container>

<ng-template #noGameDetails>
  <ng-container *ngIf="fetchGameDetailsError$ | async as error">
    <mat-error>
      <span
        >{{ error.status }}: Error Fetching Game Details, please try again
        later</span
      >
    </mat-error>
  </ng-container>
</ng-template>
